.bg-hero {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: #282c34;
    padding: 9rem 4rem 4rem 4rem;

    .bg-logo {
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii0xMS41IC0xMC4yMzE3NCAyMyAyMC40NjM0OCI+CiAgPHRpdGxlPlJlYWN0IExvZ288L3RpdGxlPgogIDxjaXJjbGUgY3g9IjAiIGN5PSIwIiByPSIyLjA1IiBmaWxsPSIjZmZmIi8+CiAgPGcgc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiPgogICAgPGVsbGlwc2Ugcng9IjExIiByeT0iNC4yIi8+CiAgICA8ZWxsaXBzZSByeD0iMTEiIHJ5PSI0LjIiIHRyYW5zZm9ybT0icm90YXRlKDYwKSIvPgogICAgPGVsbGlwc2Ugcng9IjExIiByeT0iNC4yIiB0cmFuc2Zvcm09InJvdGF0ZSgxMjApIi8+CiAgPC9nPgo8L3N2Zz4K);
        background-repeat: no-repeat;
        width: 45rem;
        height: 45rem;
        position: absolute;
        margin-left: 48rem;
        opacity: 8%;
    }

    h1 {
        font-size: 4rem;
        color: #61dafb;
        margin-bottom: 1rem;
        z-index: 1;
    }

    h2 {
        font-size: 2rem;
        font-weight: 200;
        color: white;
        margin-bottom: 3rem;
        z-index: 1;
    }

    .button-card {
        display: flex;
        align-items: center;
        gap: 3rem;
        z-index: 1;

            
        a {
            display: flex;
            align-items: center;
            font-size: 1.3rem;
            color: #61dafb;
            text-decoration: none;
            transition: .3s;

            &:hover {
                color: white;
            }

            span {
                margin-left: 1rem;
            }
        }
    }
}

