.drop-down-container {
    padding: 4rem 0 0 3rem;

    h4 {
        text-transform: uppercase;
        cursor: pointer;
        margin-bottom: 1rem;

        .angle-down.active {
            transform: rotate(180deg);
        }
    }

    a {
        text-decoration: none;
        color: black;
        display: block;
        margin-bottom: 0.5em;
    }

    .drop-down-menu {
        display: none;

        &.active {
            display: block;
        }
    }
}