.search-bar-container {
    padding: 3px;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 5px;

    .icon {
        color: white;
    }

    input {
        padding: 5px;
        font-size: 15px;
        background-color: transparent;
        border: none;
        outline: none;
        color: white;
    }
}